
table{

  width: 90vw;
/*  border:1px solid black;*/
  margin: auto;
}


th{

  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: lightgray;
}

th{

  padding: 13px;

}

td{

  padding: 5px;
  border:1px solid;
  font-size: 15px;
}


form{

	display: block;
}